body {
     max-width: 100vw;
     height:100vh;
     background-color:#ffcad4;
     font-family: dancing script;
    
}

main {
    display:flex;
    justify-content: center;
    
}

.header-small {
    display: flex;
    justify-content: space-between;
 
}

.title-calculatrice {font-size: 70px;
    display: flex;
    justify-content: center;
}
    

.cocci {
    width: 15rem;
    border-radius: 10rem;
    padding: 0.5rem;
}

.calculatrice {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: #669bbc;
    width: 35rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #caf0f8;
    margin-bottom: 70px;
    padding:10px;
}

.inside-calculatrice {
/*width: 50rem;*/
display: flex;
justify-content: center;
}

.board-calculatrice {
    height: 2rem;
}

.button {
    width: 7rem;
    height:7rem;
    font-weight: bold;
    font-size: 3rem;
    margin: 3px;
    border-radius: 10px;
    border-color: #caf0f8;
}

.button#remove {
    background-color: #ff595e;
}


#display {
    height: 6rem;
    width: 21rem;
    background-color: #ffffff;
    font-size: 2.5rem;
}

.button:hover {
transition: 0.5s;
background-color: #fff;
cursor: pointer;

}

.open {
    font-family: 'Courier New', Courier, monospace;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.menu {
    margin: 1rem;
}

.sidenav {
    display: none;
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: #caf0f8;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

 /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }  */